---
http_interactions:
- request:
    method: get
    uri: https://mods.factorio.com/api/mods/alien-biomes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"category":"tweaks","downloads_count":622929,"last_highlighted_at":"2024-11-04","name":"alien-biomes","owner":"Earendel","releases":[{"download_url":"/download/alien-biomes/5a5f1ae6adcc441024d72a1d","file_name":"alien-biomes_0.1.1.zip","info_json":{"factorio_version":"0.14"},"released_at":"2016-12-21T01:00:04.488000Z","sha1":"e1113505b6360ae2230194a1d77ae2068cea0632","version":"0.1.1"},{"download_url":"/download/alien-biomes/5a5f1ae6adcc441024d7445d","file_name":"alien-biomes_0.1.2.zip","info_json":{"factorio_version":"0.14"},"released_at":"2016-12-21T20:38:38.298000Z","sha1":"b959cd9d7770ee5e03d98249aaecbd6c9c294852","version":"0.1.2"},{"download_url":"/download/alien-biomes/5a5f1ae6adcc441024d72556","file_name":"alien-biomes_0.1.3.zip","info_json":{"factorio_version":"0.14"},"released_at":"2016-12-31T13:19:16.617000Z","sha1":"8648856e2cf8d6d8faf6c4bc8dbae170e53d131d[...]
