[submodule ".rubocop"]
	path = .rubocop
	url = https://github.com/sakuro/rubocop-config
[submodule ".cursor/rules/general"]
	path = .cursor/rules/general
	url = https://github.com/sakuro/cursor-rules-general.git
